<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Artist :
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Artist </li>
    </ol>
</section>

<!-- /.content -->
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Adding Artists :</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
            <div class="box-body">


                <div ng-class="{'form-group': true, 'has-success':success,'has-error':error}">
                    <label ng-show="!(success || error)" class="control-label" for="input-artist">Artist : </label>
                    <label ng-show="success" class="control-label" for="input-artist"><i class="fa fa-check"></i> Artist
                    </label>
                    <label ng-show="error" class="control-label" for="input-artist"><i class="fa fa-times-circle-o"></i>
                        Artist name :  </label>

                    <input type="text" ng-model="name" class="form-control" id="input-artist"
                           placeholder="Enter the name of the artist ......">
                </div>
                <div class="form-group">
                    <label>Artist Type :</label>
                    <select ng-model="type" class="form-control select2" style="width: 100%;">
                        <option value="0" selected="selected">Actor</option>
                        <option value="1">Director</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Nationnality : </label>
                    <select ng-model="n" class="form-control select2">
                        <option ng-repeat="nationality in allNationalities" value="{{nationality.id}}">{{nationality.name}}</option>
                    </select>
                </div>


            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary" ng-click="postData(name,type,n)">ADD</button>
            </div>
        </form>
    </div>
</section>
