<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Movies
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Movies</li>
        <li class="active">Add</li>
    </ol>
</section>

<!-- /.content -->
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Adding Movie</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
            <div class="box-body">


                <div class="form-group">
                    <label class="control-label" for="input-title">Movie Name:</label>
                    <input type="text" ng-model="title" class="form-control" id="input-title"
                           placeholder="Enter Movie Name">
                </div>
                <div class="form-group">
                    <label class="control-label" for="input-description">Movie Description:</label>
                    <input type="text" ng-model="description" class="form-control" id="input-description"
                           placeholder="Enter Movie Description">
                </div>
                <div class="form-group">
                    <label class="control-label" for="input-durationInMin">Movie Duration:</label>
                    <input type="number" ng-model="duration" class="form-control" id="input-durationInMin"
                           placeholder="Enter Movie Duration in Minutes">
                </div>
                <div class="form-group">
                    <label>Release Date:</label>

                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" ng-model="release" class="form-control pull-right"  id="datepicker">
                    </div>
                </div>
                <div class="form-group">
                    <label>Nationality:</label>
                    <select id="nationality" ng-model="na" class="form-control select2" style="width: 100%;">
                        <option value="">Select Movie's Nationality</option>
                        <option  ng-repeat="nationality in allNationalities" value="{{nationality.id}}">
                            {{nationality.name}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Director Selection:</label>
                    <select id="director" ng-model="dir" class="form-control select2" style="width: 100%;" >
                        <option value="">Select Director</option>
                        <option  ng-repeat="director in allDirectors" value="{{director.id}}">{{director.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Actors Selection:</label>
                    <select id="actors" ng-model="actors" class="form-control select2" multiple="multiple" data-placeholder="Select Actors"
                            style="width: 100%;">
                        <option value="">Select Actors</option>
                        <option  ng-repeat="actor in allActors" value="{{actor.id}}">{{actor.name}}</option>
                    </select>

                </div>
                <div class="form-group">
                    <label>Genre Selection:</label>
                    <select id="genres" ng-model="genres" class="form-control select2" multiple="multiple" data-placeholder="Select Genres"
                            style="width: 100%;">
                        <option  ng-repeat="genre in allGenres" value="{{genre.id}}">{{genre.name}}</option>
                    </select>

                </div>
                <input type="file" ng-model="file" id="file">
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary" ng-click="postData(title,description,duration,release,na,dir,genres,actors,pos)">ADD</button>
                </div>
            </div>
        </form>
    </div>
</section>