<section class="content-header">
    <h1>
        Artists List :
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Artists list  </li>
    </ol>
</section>



<div class="box">
    <div class="box-header">
        <h3 class="box-title">Artists Table</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
            <table id="anassData" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Nationality </th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                </tbody>
<!--            <tr ng-repeat="artist in allArtists" >-->
<!--                <td>{{artist.id}}</td>-->
<!--                <td>{{artist.name}}</td>-->
<!--                <td>{{artist.type}}</td>-->
<!--                <td>{{artist.nationality.name}}</td>-->
<!--                <td>{{artist.id}}</td>-->
<!--                <td>-->
<!--                    <span ng-click="vm.toggleEditForm()"><input type="submit" value="Edit"></span>-->
<!--                    <span ng-click="vm.removeItem($index)"><input type="submit" value="Delete"> </span>-->
<!--                </td>-->
<!--            </tr>-->
                <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Nationality</th>
                    <th></th>
                    <th></th>
                </tr>
                </tfoot>
                </table>

    </div>
    <!-- /.box-body -->
</div>